= simple_form_for online_booking, html: {class: "form-horizontal" }, |
  wrapper: :horizontal_form,                                   |
  wrapper_mappings: {                                          |
  } do |f|                                                     |
  = f.input :fname, label: "* First Name", class: "booking-label"
  = f.input :lname,  label: "* Last Name", class: "booking-label"
  = f.input :email,  label: "* Email", class: "booking-label"
  = f.input :phone,  label: "* Phone", class: "booking-label"
  = f.input :appnt_date,  label: "* Date", class: "booking-label"
  = f.input :appnt_time, label: "* Time", collection: OnlineBooking::BUSINESS_HOURS, prompt: "Select an appointment time"
  = f.input :note,  label: " Note", class: "booking-label", as: :text, input_html: {rows: 3, cols: 10}
  .button-padding.txt_center
    = f.submit "Submit", class: "btn btn-info margin-left-80"
