<p class="title">Articles</p>
<div class="panel center panel-default">
  <div class="panel-heading">
    <%= link_to "Add new article", new_article_path, class: "btn btn-info" %>
  </div>
  <!-- -div class="panel-body"
  -->
  <!-- table
  -->
  <div class="table-responsive">
    <table class="table table-bordered table-hover" id="article">
      <thead>
        <tr>
          <th>Title</th>
          <th>Soruce</th>
          <th>Active</th>
          <th>Created At</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @articles.each do |a| %>
          <tr id="arricle-<%= a.id %>">
            <td>
              <%= link_to a.title, article_path(a) %>
            </td>
            <td>
              <%= a.source %>
            </td>
            <td>
              <%= a.active %>
            </td>
            <td>
              <%= a.updated_at.strftime("%m/%d/%Y") %>
            </td>
            <td>
              <%= link_to "Show", article_path(a) %>
              |
              <%= link_to "Edit", edit_article_path(a) %>
              |
              <%= link_to "Delete", article_path(a), :confirm => "Are you sure?", :method => :delete %>

            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

