<p class="title">Articles</p>
<div class="panel panel-default">
  <div class="panel-heading">
  </div>
  <!-- -div class="panel-body"
  -->
  <!-- table
  -->
  <div class="table-responsive">
    <table class="table table-bordered table-hover" id="article">
      <thead>
        <tr>
          <th>Title</th>
          <th>Soruce</th>
          <th>Active</th>
          <th>Created By</th>
          <th>Created At</th>
        </tr>
      </thead>
      <tbody>
        <% @contacts.each do |a| %>
          <tr id="arricle-<%= m.id %>">
            <td>
              <%= link_to a.title, material_path(a) %>
            </td>
            <td>
              <%= a.name%>
            </td>
            <td>
              <%= a.email%>
            </td>
            <td>
              <%= a.phone%>
            </td>
            <td>
              <%= a.updated_at.strftime("%m/%d/%Y") %>
            </td>
            <td>
              <%= link_to "Show", article_path(a) %>
              |
              \#{link_to "Edit", edit_article_path(a)}
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

