= render partial: "/layouts/page_title"
.pagemenu-box
  %nav{"aria-label" => "pagemenu"}
    %ol.pagemenu
      %li.pagemenu-item
        %a{:href => "#what"} What is it?
      %li.pagemenu-item
        %a{:href => "#safe"} Is it safe?
      %li.pagemenu-item
        %a{:href => "#how"} How it work?
      %li.pagemenu-item
        %a{:href => "#benefit"} Benefits
      %li.pagemenu-item
        %a{:href => "#side"} Side effects
.grid_100.has-text-centered
  %h2#what.subtitle
    What is
    = succeed "?" do
      %font.txt_dgreen Acupuncture
  .dez-separator-outer
    .dez-separator.bg-primary.style-liner
.grid_100.has-text-justified
  %h2.title.is-4
    Acupuncture is a component of the health care system of Asia including  China, Japan, and Korea that can be traced back at least 2,000+ years. The general theory of acupuncture is based on the premise that there are patterns of energy flow(Qi)(I prefer to call 'The Life Flow' personally) through the body that are essential for health. Disruptions of this flow are believed to be responsible for disease and weak condition. Acupuncture may, it has been theorized, correct imbalances of flow at identifiable points close to the skin.
.grid_100.has-text-centered
  %h2#safe.subtitle
    Is Acupuncture
    = succeed "?" do
      %font.txt_dgreen Safe
  .dez-separator-outer
    .dez-separator.bg-primary.style-liner
  .grid_100.has-text-justified
    %h2.title.is-4
      The National Institute of Health does consider acupuncture to be “generally considered safe when performed by an experienced, well-trained practitioner using sterile needles.” However, it’s important to always go to a practitioner that is well-trained in acupuncture as well as to a facility that is very careful about using clean needles — improperly performed acupuncture and/or contaminated needles can pose a big risk.
      
      The good news is that the FDA regulates acupuncture needles as medical devices and requires that the needles be “sterile, nontoxic, and labeled for single use by qualified practitioners only.” To date, there have been very few complications reported from the use of acupuncture needles, so the risk is thought to be very low. This doesn’t mean that risk doesn’t exist, however, because some serious side effects have occurred when non-sterile needles have been used.
      
      As far as how much acupuncture is needed before seeing results, firm clinical guidelines have yet to be established. Acupuncture is usually recommended as a complimentary treatment method — as something to try in addition to other pain management techniques, such as physical therapy, exercise and reducing inflammation through a healthy diet.
.grid_100.has-text-centered
  %h2#how.subtitle
    %font.txt_dgreen How
    Does Acupuncture
    = succeed "?" do
      %font.txt_dgreen Work
  .dez-separator-outer
    .dez-separator.bg-primary.style-liner
  .grid_100.has-text-justified
    %h2.title.is-4
      The U.S Department of Health and Human Services states that,
      “… promising results have emerged showing efficacy of acupuncture in adult postoperative and chemotherapy nausea and vomiting, and in postoperative dental pain. There are other situations such as addiction, stroke rehabilitation, headache, menstrual cramps, tennis elbow, fibromyalgia, myofascial pain, osteoarthritis, low back pain, carpal tunnel syndrome, and asthma, in which acupuncture may be useful as an adjunct treatment.”
      
      So does acupuncture treat everything?
      
      In fact, every human being possesses healing power. The job of the acupuncturists is to awaken or stimulate that healing power of the life within the body.
.grid_100.has-text-centered
  %h2#benefit.subtitle
    The
    %font.txt_dgreen Benefits
    of the Acupuncture
  .dez-separator-outer
    .dez-separator.bg-primary.style-liner
  .grid_100.has-text-centered
    %h4{:class => "title.is-3"}
      %a{:href => "#"} 1. Skin Conditions
    .clearfix
      %h2.title.is-4.has-text-justified
        In traditional Chinese medicine, we look at the face as a reflection of what’s going on inside. We look at your internal well-being to decipher what’s going on. From the inside, we will make that change, and it will be reflected on the outside. In other words, the lasting solution to your breakouts or sagging skin might not be a cream or device, but rather a healthier, more balanced body.
    %h4{:class => "title.is-3"}
      %a{:href => "#"} 2. Healthy Weight
    .clearfix
      %img.col-md-6.float-md-end.mb-3.ms-md-3.img11{:alt => "", :src => "/assets/why_acne.jpg"}/
      %h2.title.is-4.has-text-justified
        By helping return balance to these elements, acupuncture serves as a powerful home base on the journey of weight loss. It can kick-start many positive changes within the body, including changes in hunger, fat storage, and feelings of fullness - all significant steps in the right direction.
    %h4{:class => "title.is-3"}
      %a{:href => "#"} 3. Oncology Support
    .clearfix
      %img.col-md-6.float-md.mb-3.ms-md-3.img11{:alt => "", :src => "/assets/why_acne.jpg"}/
      %h2.title.is-4.has-text-justified
        According to
        = succeed "," do
          %a.link4{:href => "https://www.cancer.gov/about-cancer/treatment/cam/patient/acupuncture-pdq#link/_57"} the National Cancer Institute
        / a href="#" class="btn-more bg5">more</a
    %h4{:class => "title.is-3"}
      %a{:href => "#"} 4. Quit Addiction
    .clearfix
      %img.col-md-6.float-md-end.mb-3.ms-md-3.img11{:alt => "", :src => "/assets/why_acne.jpg"}/
      %h2.title.is-4.has-text-justified
        Acupuncture can be used to aid in treatment of addiction and to help patients to reduce prescribed medications which are difficult to withdraw from. Acupuncture treatment reduces withdrawal symptoms, aids in relaxation in cases of anxiety, improves sleep, and reduces cravings for drugs.
    %h4{:class => "title.is-3"}
      %a{:href => "#"} 5. Improve Chronic Pain
    .clearfix
      %img.col-md-6.float-md.mb-3.ms-md-3.img11{:alt => "", :src => "/assets/pain_neck2.jpg"}/
      %h2.title.is-4.has-text-justified
        Acupuncture treates chronic Pain, Including for the Back, Neck, Knee or Arthritis Pain. The researchers reviewed clinical trials involving over 17,000 patients, and the results showed that patients receiving acupuncture had less pain than patients in the placebo control group for back and neck muscle aches and pain, osteoarthritis, and chronic headaches. (6) The conclusion was that acupuncture is effective for the treatment of chronic pain and is “more than just a placebo effect, therefore it’s a reasonable referral option for doctors.”
    %h4{:class => "title.is-3"}
      %a{:href => "#"} 6. Helps to Prevent Cognitive Decline
    .clearfix
      %img.col-md-6.float-md-end.mb-3.ms-md-3.img11{:alt => "", :src => "/assets/neuro2.jpg"}/
      %h2.title.is-4.has-text-justified
        Some early research has showing new information about the effectiveness of  acupuncture on Parkinson’s. Studies show that can relieve age-related cognitive decline symptoms as it generates a neural response in areas of the brain — such as the putamen and the thalamus — that are particularly affected by Parkinson’s disease.
        
        In a 2002 study done by the Department of Neurology at the University of Maryland School of Medicine, after 20 Parkinson’s patients were treated with acupuncture for 16 sessions, 85 percent of patients reported subjective improvements of individual symptoms, including tremor, walking, handwriting, slowness, pain, sleep, depression and anxiety. There were no adverse effects.
  .grid_100.has-text-centered
    %h2#side.subtitle
      Does Acupuncture Cause
      = succeed "?" do
        %font.txt_dgreen Side Effects
    .dez-separator-outer
      .dez-separator.bg-primary.style-liner
  .grid_100.has-text-justified
    %h4{:class => "title.is-3"}
      %a{:href => "#"} Worsening Symptoms (Healing Crisis)
    %div
      %h2.title.is-4.has-text-justified
        While most people notice a marked improvement in their symptoms following acupuncture, some feel worse before they start feeling better. In natural medicine circles, this is sometimes referred to as a healing crisis. The idea is that as your body starts undergoing the changes involved in moving toward health, things get stirred up. This can cause not only an exacerbation of current symptoms but also the recurrence of previous ailments that had been dormant.
        
        Acupuncture awakens your self-healing capabilities. With that can come an onslaught of bodily awareness. This usually is a positive experience but it also can mean heightened sensitivity or intolerance for things that previously felt normal. An example of this is someone who unconsciously adapts to stress by tightening and hunching up his shoulders. After an acupuncture treatment, once this person’s bodily felt sense has been woken up, his mild upper back and neck tension might start screaming.
        
        The good news about this side effect is that it’s a sign that things are moving. In the case of acupuncture, this means that the primary objective is being met. That is, you are starting to transition on multiple levels from stuck to unstuck.
    %h4{:class => "title.is-3"}
      %a{:href => "#"} Fatigue
    %div
      %h2.title.is-4.has-text-justified
        People can feel wiped out after acupuncture. A more common result is increased energy but sometimes the “acu land” effect hangs on a little longer. This is your body telling you that it’s depleted. Feeling fatigued after acupuncture is not cause for concern but it is a warning sign that you need to rest.
        
        If you have this experience, take it easy for the remainder of the day. Take a bath that night. Go to bed early. Come morning, the combination of acupuncture and rest will leave you feeling born again.
    %h4{:class => "title.is-3"}
      %a{:href => "#"} Soreness
    %div
      %h2.title.is-4.has-text-justified
        Body parts where acupuncture needles get inserted can feel sore after needles are removed. I’ve found that this most commonly occurs with points in the hands and feet, especially Large Intestine 4, an acupuncture point located between the thumb and index finger. You also may experience muscle soreness away from the needling site if a trigger or ashi point was released during your treatment.
        
        Soreness from acupuncture typically dissipates within 24 hours. However, big trigger point releases can cause residual soreness that lasts a few days. Most acupuncturists will warn you about this before you leave your appointment.
    %h4{:class => "title.is-3"}
      %a{:href => "#"} Bruising
    %div
      %h2.title.is-4.has-text-justified
        Although less common than soreness, bruising can occur at the needling site. Sometimes bruising is the result of a hematoma, a localized collection of blood that gets initiated when the needle punctures the skin. Bruises, unfortunately, usually last longer than soreness from an acupuncture needle. Still, they generally are not anything to worry about beyond the aesthetic inconvenience.
        
        It is unknown why some people bruise from acupuncture. I have a few patients who, no matter what I try in terms of needle brand, size or technique, they bruise every time. (Again, I often see it happen at Large Intestine 4.) Others—the majority—never experience bruising anywhere.

    %h4{:class => "title.is-3"}
      %a{:href => "#"} Lightheadedness
    %div
      %h2.title.is-4.has-text-justified
        This is a common symptom that many patients experience after treatment.
        Patients experience lightheaded or mild headaches as the blockage in the body begins to cloud after acupuncture treatment. This symptom lasts for a day or two at most, but if you refrain from excessive exercise or work and get a good rest, the symptoms will be relieved soon. Drink plenty of lukewarm water.


    %h4{:class => "title.is-3"}
      %a{:href => "#"} Muscle Twitching
    %div
      %h2.title.is-4.has-text-justified
        Every time I get acupuncture, no matter where the needles are placed, my right quadricep muscle twitches like crazy. Don’t ask me why. People may experience involuntary muscle twitching during or after acupuncture. I’ve seen this occur in muscles that receive acupuncture needles and, as in my case, on seemingly random parts of the body that are far away from any needles.
        
        Muscle twitching is different from full-on muscle spasm. If during or after an acupuncture treatment you feel that one of your muscles is acutely spasming, especially if it’s a muscle that was just needled, tell your acupuncturist. He or she might be able to release it before you go on your merry way.
    %h4{:class => "title.is-3"}
      %a{:href => "#"} Emotional Release
    %h2.title.is-4.has-text-justified
      Sometimes people cry in acupuncture. Not because they’re in pain but because their emotions, which often get stifled while powering through life, become free flowing. The emotional release that can happen in acupuncture usually is a positive experience, but it can be surprising, especially for people who tend to be more emotionally stoical.
      
      Feeling extra sensitive or tear prone in an acupuncture session, or in the days that follow, is completely normal. It’s also a sign that the acupuncture is working. Even if you’re seeking acupuncture for a physical ailment, increased emotional expression is an indication that healing is happening. From an acupuncture perspective, physical and emotional health are interconnected, so emotional shifts suggest forthcoming physical changes as well.

    %h4{:class => "title.is-3"}
      %a{:href => "#"} Other Symptoms
    %div
      %h2.title.is-4.has-text-justified
        In addition, depending on the patient, there may be symptoms such as excessive sweating, thirst, increased urine volume, increased stool volume, and runny nose. This is a symptom that occurs when the clogged flow of Qi is broken. This is a phenomenon that occurs when the body is cleansing or adapting to the flow of Qi. It is usually mild and the symptoms disappear after a day or two. These symptoms disappear spontaneously without any special treatment, but if you are concerned, consult your oriental medicine doctor.

