.grid_100.has-text-justified.is-margin-top-2
.grid_subtitle
  %font.txt_dgreen 
    Cupping Theraphy

.container.has-text-justified
  %h3.is-5.has-text-justified
    Cupping is a very empirical medicine as a traditional medicine. Current medical scientists are not trying to prove its effectiveness, but over a long period of time, the experience of many people has proven its healing effect. When used in conjunction with acupuncture, the maximum therapeutic effect can be achieved.
    %br
    %br
    Suction from cupping draws fluid into the treated area. This suction force expands and breaks open tiny blood vessels (capillaries) and cells under the skin. Your body treats the cupping area like an injury. It sends more blood to the area to stimulate the natural healing process. Some people theorize that cupping clears the pores and releases toxins.
    %br
    %br
    Cupping therapy and Acupuncture are often combined to treat the patients in my practice for the best result

  .dez-separator.style-liner 
.container
  .grid-3-2.pad-rt
    %h3.is-4.bold.has-text-centered
      Benefits
      %br
      %br
    %h3.is-5.has-text-justified.bold
      %u 
        It is effective in treating muscle sprains, strains, and spasms.
      %br
    %h3.is-5.has-text-justified
      Cupping is a wonderful option to improve fascial mobility and decrease muscle pain. 
      Usually it does not hurt.
      %br
      %br
      In fact it helps loosen up the soft tissue and loosen the muscles and
      it increases the blood flow through tight muscles and works great with improving tissue mobility.
      %br
      %br
    %h3.is-5.has-text-justified.bold
      %u 
        It improves skin conditions 
        %br
    %h3.is-5.has-text-justified
      It reduces varicose veins, spider veins, stretch marks and scars
      Increased blood flow enables your body to dispose of toxins, restores lymphatic circulation, and helps remove edema (excess fluid), which helps reduce the appearance of scarring. Studies have shown the positive effects of cupping on stretch marks and scars even in areas that are far from the area where the cups are applied.
      Also it treats boils, abscess and acne.
      %br
    %img.img8{:src => "#{ENV['IMG_PATH']}cupping-all.jpg"}
    %br
    %br
    %h3.is-5.has-text-justified.bold
      %u 
        It reduces anxiety 
      %br
    %h3.is-5.has-text-justified
      The massage effect of the cupping promotes deep relaxation to move through your entire body. (Your parasympathetic nervous system is responsible for slowing your heart rate, assisting in digestion, and increasing intestinal and gland activity.)
      %br
      %br
    %h3.is-5.has-text-justified.bold
      %u 
        It clear colon blockages and aid digestion
      %br
    %h3.is-5.has-text-justified
      Cupping helps to engage the parasympathetic nervous system, which increases blood flow to the digestive tract. Gentle cupping over the abdomen also stimulates the insides of your digestive organs. It aids in peristalsis (contractions that push food through your digestive tract), helps clear colon blockages, encourages blood and body-fluid to move through your organs, and helps relieve indigestion.
  .grid-3
    .mycard
      %h2.is-6.bold
        Side effects
      %h3.is-6.has-text-justified
        Cupping is fairly safe, as long as you take from a trained health professional. But you could have these side effects in the area where the cups touch your skin:
        %br
        %br
        %li Mild discomfort
        %li Bruises
        %li Blisters
        %li Mild fatigue
        %br
        %br
        But no need to worry. This is because the principle of it is to intentionally injure and draw out the healing power of the body. Talk to your doctor about any discomfort after treatment and if you have sensitive skin, tell your doctor before treatment.
        %br
        %br

      %h2.is-6.bold
        Precautions
      %h3.is-6.has-text-justified
        %li The patient should select a comfortable position. Usually it takes 5 to 30 minutes and the patient can not move during the treatment.
        %br
        %li It is not advisable to apply cupping to the patient with skin ulcer, edema, or on an area overlying large blood vessels, to the patient with high fever and convulsion; or to the abdominal and sacral regions of the pregnant women.
        %br
        %li It is not suitable to apply cupping to the patient susceptible to spontaneous bleeding or endless bleeding after trauma. If you take a blood thinner and are susceptible to spontaneous bleeding, consult your physician.
        %br
        %li After cupping, there is a blood stasis or bruise at the local area. Generally, it will disappear several days later.
        %br
        %li The infirm and pregnant women should avoid.

.dez-separator.style-liner 

.grid_subtitle
  %font.txt_dgreen 
    Comprehensive Medical Massage
.container.has-text-justified
  %h2.is-4
    Our special medical massage service consists of two parts: 
    %br
    %br
    Stimulate lymphatic system and stimulate the acupuncture channels in the body.
    %br
    %br
    While cupping has the more effect of breakdown muscles tightness and regenerating cells with rather strong stimulation, medical massage gently stimulates the lymphatic and the acupuncture channels of the body. It helps the Qi flow and blood circulation, increases the body's excretion of waste products, boosts immunity, and stimulates the parasympathetic nerve to induce natural relaxation and healing of the body.
    %br
    %br
    After treatment, you may experience fatigue, symptoms such as a cold, mild body aches, or mild headaches. Some patients may experience increased urination or stool frequency and sweating profusely. This is your body's natural healing and detoxification process, so drink warm water, eat easily digestible foods, do light stretches and get more rest.
  .dez-separator.style-liner 
.container
  .grid-2
    %img.img10{:src => "#{ENV['IMG_PATH']}cera-img1.jpg"}
  .grid-2
    %img.float-right.img10{:src => "#{ENV['IMG_PATH']}cera-img2.jpg"}

  .dez-separator.style-liner 


.container
  .grid
    %h3.is-4.bold.has-text-centered
      %u
        Ceragem Therapeutic Massage
        %br
        %br

  .grid-2
    %h3.is-5
      Provide all-in-one benefits of acupressure, deep-tissue massage, stretching, and stone therap
  .grid-2.has-text-centered
    %img.img10{:src => "#{ENV['IMG_PATH']}ceragem1.jpg"}
  .dez-separator.style-liner 


.container
  .grid
    %h3.is-4.bold.has-text-centered
      %u
        Scraping Massage

        %br
        %br
  .grid-3.has-text-centered
    %img.img10{:src => "#{ENV['IMG_PATH']}gusha1.jpg"}
  .grid-3-2
    %h3.is-5
      Relieve muscle tension, boost blood circulation, and promote lymphatic drainage. It also enhances the delivery of fresh oxygen and nutrients to various tissues throughout the body, which means a healthier glow for the skin.

  .dez-separator.style-liner 

.container
  .grid
    %h3.is-4.bold.has-text-centered
      %u
        Acupressure 
        %br
        %br
  .grid-3-2
    %h3.is-5
      Acupressure therapy stimulates the body's circulatory, lymphatic and hormonal systems. It helps relieve stress and anxiety, improves sleep, relaxes your muscles and joints, regulates digestive issues, minimises headaches and migraines, and is also beneficial for back pains and menstrual cramps

  .grid-3.has-text-centered
    %img.img10{:src => "#{ENV['IMG_PATH']}acupressure1.jpg"}
  .dez-separator.style-liner 

.grid_subtitle
  %font.txt_dgreen 
    Phycal Therapy

.container
  .grid
    %h3.is-4.bold.has-text-centered
      %u
        TENS & EMS
        %br
        %br

  .grid-3-2
    %h3.is-5
      Stimulates the nerves to relieve pain and stimulates muscles  to strengthen and rehabilitate them.

  .grid-3.has-text-centered
    %img.img10{:src => "#{ENV['IMG_PATH']}ems.jpg"}
  .dez-separator.style-liner 


.container
  .grid
    %h3.is-4.bold.has-text-centered
      %u
        Sports Tape
        %br
        %br
  .grid-3.has-text-centered
    %img.img10{:src => "#{ENV['IMG_PATH']}taping2.jpg"}

  .grid-3-2
    %h3.is-5
      Taping enables weak muscles to function efficiently, reduces pain and fatigue, and protects against cramping, over-extension, and over-contraction. Improved Athletic Performance: By supporting unstable joints and delivering slight pressure to “sleeping” muscles, taping can prompt higher performance


