.grid_subtitle
  %font.txt_dgreen 
    Acupuncture
.container
  .grid-3
    %img.img10{:src => "#{ENV['IMG_PATH']}facial-acu1.jpg"}
    %br
    %br
    .grid.mycard
      %h3.is-5.bold
        %u
          Benefits
          %br
          %br
      %h3.is-5
        %li Wrinkle relief
        %li Facial lifting
        %li Scar removals
        %li Reduces facial swelling
        %li Improve the skin with acne
        %li Enhance skin elasticity
        %li Narrowing of enlarged pores
        %li Brightens the eyes
        %li Local blood circulation
        %li Improving lymphatic circulation
        %li Improvements in complexion
        %li ETC.

  .grid-3-2.pad-lt
    %h3.is-5.bold
      Facial Cosmetic Acupuncture
    %h3.is-5.has-text-justified
      %br
      The benefits of cosmetic acupuncture are manifold. It improves the complexion by helping the blood and lymph circulation of the face, stimulates the dermis layer, which is the key layer of skin regeneration, promotes collagen synthesis, and increases the skin's ability to retain moisture to make the skin firm.
      %br
      %br
      Cosmetic acupuncture reduces the size of facial muscles that have grown due to bad habits, and relaxes the muscles that cause wrinkles on the skin to improve fine wrinkles and create a smooth impression.
      %br
      %br
      The efficacy of facial beauty acupuncture is a representative natural treatment that has been scientifically proven.
      %br
      %br
      Cosmetic acupuncture reduces the size of muscles in the face that have become enlarged due to bad habits, and relaxes the muscles that cause wrinkles in the skin, improving fine lines and making the impression softer.
      %br
      %br
      The effectiveness of facial cosmetic acupuncture is a representative natural treatment that has been scientifically proven.
      %br 
      %br 
      In a 2012 study, the size of the face was significantly reduced and the skin moisture content increased by 20% through cosmetic acupuncture treatment twice a week for a total of 7 times for women in their 20s and 40s.
      %br
      %br
      Cosmetic acupuncture is a non-surgical treatment without implants or drugs or long-term side effects.

.container
  .dez-separator.style-liner 
  .grid-3-2.pad-rt
    %h3.is-5.bold
      Facial Acupuncture
      %br
      %br
    %h3.is-5.has-text-justified
      While cosmetic acupuncture focuses on skin improvement and facial beauty, facial acupuncture focuses on facial numbness and pain relief. These two may be similar, but the difference is that acupuncture focuses on the muscles and nerves where there is pain or paralysis.
      %br
      %br
      %u 
        Benefits for
        %br

      Facial pain, Facial paralysis, Scarred skin, Neurology, Emotional disorder, Sensory disorder, TMJ, Sinusitis, Visual Disorder, Trigeminal neuralgia, Numbness of the face, Post-stroke, BELL'S palsy, Rigid expression (ex. Parkinson's disease)
  .grid-3
    %img.float-right.img10{:src => "#{ENV['IMG_PATH']}facial-acu.jpg"}
  
.container
  .dez-separator.style-liner 

  .grid-2
    %h3.is-5.bold
      Advantages of Facial/Cosmetic Acupuncture 
    %br

    %h3.is-5.has-text-justified
      %li Non-invasive approach compared to plastic surgery
      %li There are no long-term side effects or no risks
      %li The recovery time is not required
      %li No drugs or injections required
      %li Natural looking 
      %li A holistic approach unique to oriental medicine
      %li Benefits for your health
      %li Return to daily life immediately with a short treatment time

  .grid-2
    %h3.is-5.bold
      Side Effects 
    %br
    %h3.is-5
      Temporary bruising, redness and swelling on the acupuncture site
    %br
    %h3.is-5.bold Recommended Treatment Plan
    %br
    %h3.is-5
      Usually 1-2 times a week (maximum 3 times) for 5-6 weeks 

.dez-separator.style-liner 
.grid_subtitle
  %font.txt_dgreen 
    High Frequency Therapy 
.container
  .grid
    %img.float-left.img9{:src => "#{ENV['IMG_PATH']}hf.jpg"}
    %h3.is-5.has-text-justified
      We use a more powerful wand and revolutionary fusion Neon+Argon applicators. 
    %br
    %h3.is-5.bold
      Benefits
    %br
    %h3.is-5.has-text-justified
      It provides the skin boosting anti-aging benefits of Neon and blemish and inflammation. It works synergistically to offer the complete spectrum of skin therapies; creating beautiful radiant skin while shortening treatment duration.
      %br
      %br
    %h3.is-5.has-text-justified
      Instant Skin Radiance – High frequency treatments are a safe and 100% natural way of boosting your entire skin profile no matter your skin type. It also kills any sub-dermal causes of inflammation to control blemishes and ensure a smoother complexion 90% faster. You’ll see a difference after just a single session.
      %br
      %br
      This helps better absorption of beauty serums and creams.
      %br
      %br
      There are also reports that the high frequency therapy is effective for facial pain and numbness reacheing deep nerves and muscle layers.
  .dez-separator.style-liner 

.container
  %img.img10{:src => "#{ENV['IMG_PATH']}hf-bf1.jpg"}

.dez-separator.style-liner 
.grid_subtitle
  %font.txt_dgreen 
    Scalp and Facial Scraping Therapy 
.container
  %img.float-right.img9{:src => "#{ENV['IMG_PATH']}facial-guasha.jpg"}
  %h3.is-5
    Facial Scraping Therapy(Gua sha) has been proven to help relieve tension in the face, reduce puffiness and inflammation, and it can even help reduce sinus pressure.
    %br
    %br
  %h3.is-5.bold
    Benefits
    %br
    %br
  %h3.is-5
    %li Lymphatic Drainage
    %li Deals with Cystic acne
    %li Fights acne scars
    %li Reduces Puffiness
    %li Say goodbye to dark circles and dull complexion
    %li Softens Wrinkles and Fine Lines
    %li Contours & Sculpts Jawline and Cheekbones
    %li Helps facial pain
    %li Helps facial numbness
    %li Relieve migrain
