.dez-separator.style-liner 
.grid_100.has-text-centered
  - if params[:menu_values] != '500'
    .grid_subtitle
      %font.txt_dgreen Questions
      and
      %font.txt_dgreen Answers
%br
.container
  .accordion#Answer
    - @qna_list.each do |appnt|
      .accordion-item
        %h2.title.is-4.accordion-header{:id => "heading#{appnt.id}"}
          %button.accordion-button.collapsed{"aria-controls" => "collapse#{appnt.id}", "aria-expanded" => "false", "data-bs-target" => "#collapse#{appnt.id}", "data-bs-toggle" => "collapse", :type => "button"}
            %b Q.&nbsp;&nbsp;
            = appnt.question
        .accordion-collapse.collapse{"id" => "collapse#{appnt.id}", "aria-labelledby" => "heading#{appnt.id}", "data-bs-parent" => "#Answer"}
          .is-5.accordion-body
            =  appnt.answer.html_safe
