<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="bootstrap default admin template">
  <meta name="viewport" content="width=device-width">
  <title>Life and Nature - Natural Care Acupuncture and Holistic Medicine</title>
  <%= stylesheet_link_tag 'application', media: 'all'  %>
  <%= javascript_include_tag 'application'  %>
  <%= csrf_meta_tags %>
  <%= render partial: "/layouts/script" %>

  <% if current_page?(root_url)  %> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <% end %>
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400&family=Playball&display=swap" rel="stylesheet">
</head>
<body>
  <%= render partial: "/layouts/dropdown" %>
  <% if not current_page?(root_url)  %> 
    <%= render partial: '/layouts/breadcrumb', :local => {:menues => @menu_values}  %>
  <% end %>
  <%= yield %>
  <%= render partial: "/layouts/footer" %>

  <script type="text/javascript">

$(document).ready(function(){
  // Initialize the gallery
  //$('.magnifier2').touchTouch();
});

function myFocus(element){
  if (element.value == element.defaultValue){
    element.focus();
    element.value = '';
  }
}
function myBlur(element){
  if (element.value == ''){
    element.blur();
    element.value = element.defaultValue;
  }
}
  </script>
</body>
</html>
